
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Loosened rules for development to ensure login and syncing works
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
